{% load static %}
<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <title>TV Cidade Verde</title>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper green darken-2 z-depth-3">
        <a class="center brand-logo"> <div class="center-align"</div>AudioLive</a>
      </div>
    </nav>
  </header>
  {% block body %}
  {% endblock %}
  <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <!-- <script src="{% static 'js/login/login.js' %}"></script> -->

</body>
</html>
