<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <title>TV Cidade Verde</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>

    <header>
      <nav>
        <div class="nav-wrapper green darken-2 z-depth-3">
          <a href="#!" class="center brand-logo ">
             AudioLive
          </a>
        </div>
      </nav>
    </header>

    <div class="section">
      <div class="row ">
        <div class="col s12 m12 l12">
          <div class="card z-depth-2">
            <div class="card-content black-text">

              <a class="modal-trigger col s12 m12 l12 center-align " href="#modal1">Informação do Stream</a>
              </br><h6 class="center-align" id="status-cliente">Link Parado</h6></br>

              <div class="row" id="list-host" hidden>
                <div class="col s12 m12 l12" id="audios-container">
                  <ul class="collapsible expandable" id=audios-container-ul></ul>
                </div>
              </div>

            </div>
            <div class="center card-action">
              <a class="btn-floating btn-large waves-effect waves-light green darken-1 z-depth-2 pulse" id="join-room"><i class="material-icons">cloud_queue</i></a>
              <a class="btn-floating btn-large waves-effect waves-light red darken-1 z-depth-2 pulse" id="close-room"><i class="material-icons">cloud_off</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h5 class="center">Stream Info</h5>
        <p>Token: yqECwA7tJALqr3F6Pr8d</p>
        <p>Usuário: nilton</p>
        <p>Cargo: Cinegrafista</p>
        <p>Cliente: TV Cidade Verde</p>
      </div>
      <div class="modal-footer center">
        <a href="#!" class="center modal-close waves-effect waves-green btn green darken-1 z-depth-2 ">Sobre</a>
        <a href="#!" class="center modal-close waves-effect waves-green btn green darken-1 z-depth-2 ">Ajuda</a>
      </div>
    </div>


    <script src="{% static 'js/RTCMultiConnection.js' %}"></script>
    <script src="{% static 'js/adapter.js' %}"></script>
    <script src="{% static 'js/socket.io.js' %}"></script>


    <link rel="stylesheet" href="{% static 'css/getHTMLMediaElement.css' %}">

    <script src="{% static 'js/getHTMLMediaElement.js' %}"></script>

    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>

    <script src="{% static 'js/custom.js' %}"></script>


    <script>

      $("#close-room").hide();

      document.getElementById('join-room').onclick = function() {
         connection.join("yqECwA7tJALqr3F6Pr8d");
         $("#join-room").hide();
         $("#close-room").show();
         $("#list-host").show();
         document.getElementById("status-cliente").innerHTML="Conectando...";
         document.getElementById("status-cliente").setAttribute('style', 'color: blue;');
      };

      $('#close-room').click(function() {
        location.reload();
      });


        var connection = new RTCMultiConnection();

        connection.socketURL = 'https://srcv.ddns.net:8888';

        connection.socketMessageEvent = 'audio-conference-demo';


        connection.session = {
            audio: true,
            video: false
        };

        connection.mediaConstraints = {
            audio: true,
            video: false
        };

        connection.sdpConstraints.mandatory = {
            OfferToReceiveAudio: true,
            OfferToReceiveVideo: false
        };

        connection.audiosContainer = document.getElementById('audios-container');
        connection.onstream = function(event) {
            var width = parseInt(connection.audiosContainer.clientWidth / 2) - 20;
            var mediaElement = getHTMLMediaElement(event.mediaElement, {
                title: event.userid,
                buttons: ['full-screen'],
                width: width,
                showOnMouseEnter: false
            });

            connection.audiosContainer.appendChild(mediaElement);

            setTimeout(function() {
                mediaElement.media.play();
            }, 5000);

            mediaElement.id = event.streamid;
        };

        connection.onstreamended = function(event) {
            var mediaElement = document.getElementById(event.streamid);
            if (mediaElement) {
                mediaElement.parentNode.removeChild(mediaElement);
            }
        };

    </script>

    <script src="https://cdn.webrtc-experiment.com/common.js"></script>

  </body>
</html>
